# Discord Webhooks
DISCORD_PUBLIC_WEBHOOK_URL=https://discord.com/api/webhooks/1360256301522747584/TMA2YTpiaxbtuTLMgDFU5NVNKS3B_07KLUre1PtjqBXC0E4diovLrdJST7ow_hSnMGW4
DISCORD_PRIVATE_WEBHOOK_URL=https://discord.com/api/webhooks/1362379513341673572/gD2Qf5ZBtwH_SgXiWwlAwIeX5rZfTQlRBcp5duva_BEJKS-vH7zZhCmFwAvBDm3ugV14
DISCORD_ERRORS_WEBHOOK_URL=https://discord.com/api/webhooks/1365764516813602908/bX_XViZvEpqxcXO3Aeyl9qcHbaB3TC26NUQPqtw-K46ms36NZU9Hem9rl1X3JpVV8cFK
BOT_NAME=Ultimate Trading Swing Bot

# APIs
ALPHA_VANTAGE_API_KEY=5C3T4H8Y49K0QNQK
NEWS_API_KEY=5d1da4336d454981bf4fc1846442bb97

# ניהול תיק
ACCOUNT_SIZE=951
MONTHLY_TARGET_PERCENTAGE=5
RISK_PERCENT=2
TAKE_PROFIT_PERCENTAGE=6
STOP_LOSS_PERCENTAGE=3


# הגדרות זמן
TIMEZONE=Asia/Jerusalem
